@font-face {
    font-family: 'TTRamilas';
    src: url('font/TTRamillasTrialRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTInterphases';
    src: url('font/TTInterphasesProTrialMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    padding: 0px;
    margin: 0px;
    font-family: 'TTInterphases', 'TTRamilas';
    color: #464a4e;
}

section {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.gbr img {
    width: 5%;
}



header {
    background-color: #e6e5e5;
    padding: 15px;
    padding-left: 90px;
    padding-right: 90px;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li { 
    align-items: center;
    display: inline-block;
    padding: 4px;
}

header nav a {
    text-decoration: none;
}

.A .a {
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-left: 90px;
    padding-right: 90px;
    /* margin-top: 20px; */
}

.A .a .about {
    text-align: center;
}

.A p.a  {
    text-align: justify;
}

.A p.em {
    line-height: 25px ;
    padding-bottom: 2px;
}


h2.LL {
    margin-top: 60px;
    text-align: center;
}

h2#skill {
    margin-bottom: 20px;

}



.A h2#about{
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    font-family: 'TTRamilas';
}
button {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #464a4e;
background-color: #efefef;
}

div.edu {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 12px;
    gap: 2px;
    align-items: stretch;
    
}

div.teks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}

.soft , .bg {
    background-color: #e6e5e5;
    border-radius: 5px;
    border: 1px solid #464a4e;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.bg {
    padding: 9px;
}

.sskil{
    text-align: center;
    font-size: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}
p.sski {
    text-align: center;
    font-size: 5px;
}


div.edu img {
    padding-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
div.edu h3 {
    font-size: 13px;
    font-weight: normal;
}
div.edu h4 {
    font-size: 11px;
    font-weight: normal;
}

div.edu h5{
    font-size: 9px;
    font-weight: normal;
}

.B, .C, .D {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}
.B {
    padding-top: 10px;
}

.qq {
    display: grid;
    grid-template-columns: 300fr 1fr 300fr;
    gap: 5px;
    margin-bottom: 0;
}
.x {
    text-align: right;
}
.y {
    background-color: #464a4e;
}
.z {
    text-align: left;
}

.D p {
    padding-bottom: 20px;
    padding-left: 5px;
}

.D div.ojek {
    background-color: #efefef;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-left: 5px solid #464a4e;
    border-radius: 10px;
    margin-bottom: 20px;
}

.D img {
    margin: 20px;
    width: 300px;

}

footer {
    text-align: center;
    padding: 25px;
    background-color: #e6e5e5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
}
.quicklinks a, .sosmed a {
    text-decoration: none;
}

.main {
    border-left: 1px solid #464a4e;
    border-right: 1px solid #464a4e;
}

.main p {
    opacity: 50%;
}

.logo {
    display: none;
}
#Project {
    margin-bottom: 20px;
}

button:hover {
    background-color: #e6e5e5;
    box-shadow: 1px #464a4e;
    transition: 0.3s;
}

b, strong {
    font-weight: normal;
}

.bg:hover,
.soft:hover, .gbr img:hover {
    transform: translateY(-4px);
    transition: transform 0.3s ease-in-out;
}

.ojek, .gbr img {
    transition: transform 0.3s ease-in-out;
}

.ojek:hover {
    transform: scale(1.02);
}

h6:hover, .D p a:hover {
    color: black;
}



header a, footer a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

header a::after, footer a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.4s ease; 
  transform: translateX(-50%);
}

header a:hover::after, footer a:hover::after {
  width: 100%; 
}














.timeline {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 39px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 99%;
  background: #464a4e;
}

.item {
  position: relative;
  width: 50%;
  padding: 20px 20px;
  box-sizing: border-box;
}

.item .dot {
  position: absolute;
  top: 25px;
  width: 14px;
  height: 14px;
  background: #464a4e;
  border-radius: 50%;
  z-index: 1;
  left: 100%; /* nanti di-overwrite oleh .right */
  transform: translateX(-50%);
}

.item .content {
  /* background: #f3f3f3; */
  padding: 15px;
  padding-bottom: 0;
  border-radius: 6px;
}

.item.left {
  left: 0;
  text-align: right;
}

.item.left .dot {
  left: 100%;
}

.item.right {
  left: 50%;
  text-align: left;
}

.item.right .dot {
  left: 0;
}

.hhhhh {
    font-size: 17px;
}
div.content p {
   font-size: 14px; 
}



@media (max-width: 850px) {
    footer {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .A .a {
        display: block;
        text-align: center;
    }

    strong {
        display: none;
    }

    .miau {
        margin-bottom: 100px;
    }

    .gbr img {
        width: 7%;
    }

}


@media (max-width: 600px) {
    footer {
        grid-template-columns: 1fr 1fr;
    }
    .main, header h2, span {
        display: none;
    }
    header nav ul {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    header, .A .a, .D{
        padding-left: 5%;
        padding-right: 5%;
    }
    .D img {
        width: 80%;
    }

    
}
@media (max-width: 404px) {
    .logo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0;
    }
    .logo img {
        
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    footer {
        display: block;
    }
    .quicklinks, .main, .sosmed {
        display: none;
    }
    .timeline {
        font-size: 13px;
    }
    b {
        display: none;
    }
}