*{
    padding: 0px;
    margin: 0px;
}

.gbr img {
    width: 5%;
}

header {
    background-color: pink;
    padding: 15px;
    padding-left: 90px;
    padding-right: 90px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li { 
    align-items: center;
    display: inline-block;
    padding: 4px;
}

header nav a {
    text-decoration: none;
}

.A .a {
    display: grid;
    background-color: yellowgreen;
    gap: 20px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-left: 90px;
    padding-right: 90px;
}

.A .a .about {
    text-align: center;
}

.A .a p {
    text-align: justify;
}

button {
    border-style: none;
    padding: 3px;
    border-radius: 30px;
}

div.edu {
    background-color: #fff;
    border-style: dashed;
    border-color: orange;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
}
div.edu h3 {
    font-size: 13px;
    font-weight: normal;
}
div.edu h4 {
    font-size: 11px;
    font-weight: normal;
}

div.edu h5{
    font-size: 9px;
    font-weight: normal;
}